{#
	The main macro that render a common container for all kinds of Renderable 
	object, and then passed the rendering task to the view defined in the 
	given Renderable object.
  
    Param(s):
    	\Wongyip\Laravel\Renderable\RenderableInterface  Renderable
#}
{% macro handle(renderable) %}

    {% import renderable.view() as renderer %}
    
    <div id="{{ renderable.containerId }}" class="model-renderable {{ renderable.containerClass }}" style="{{ renderable.containerStyle }}">    
        {{ renderer.handle(renderable) }}
    </div>

{% endmacro %}