{#
	Param(s):
		\Wongyip\Laravel\Renderable\RenderableInterface  Renderable
#}
{% macro handle(renderable) %}

    {% import renderable.view() as renderer %}
    
    <div id="{{ renderable.containerId }}" class="model-renderable {{ renderable.containerClass }}" style="{{ renderable.containerStyle }}">    
        {{ renderer.handle(renderable) }}
    </div>

{% endmacro %}